*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

i, button, li{
    cursor: pointer;
    outline: none;
    list-style-type: none;
    border: none;
}

body{
    width: 100%;
    max-width: 1300px;
    padding: 0 50px;
    margin: 0 auto;
    font-family: "Poppins", sans-serif;
}

.navbar{
    margin: 20px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo-container{
    display: flex;
    justify-content: center;
    align-items: center;
}

.logo-container img{
    width: 40px;
}
.logo-container h1{
    color: hsla(0, 4%, 15%, 0.904);
    font-size: 25px;
}

.nav-items{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 50px;
    color: hsla(0, 4%, 15%, 0.904);
    font-weight: 500;
}


/* banner part */
.banner-section{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 50px;
    margin-top: 50px;
}

.banner-section img{
    width: 500px;
}

.title-container{
    width: 550px;
}

.title-container h1{
    color: hsl(0, 4%, 15%);
    font-size: 50px;
    font-weight: 600;
}

.title-container p{
    color: hsla(0, 4%, 15%, 0.904);
    margin-top: 20px;
}

.title-container button{
    color: #fff;
    padding: 17px 33px;
    border-radius: 50px;
    background-color: hsl(355, 70%, 54%);
    font-size: 17px;
    font-weight: 500;
    transition: .3s;
    margin-top: 20px;
}

.title-container button:hover{
    background-color: hsl(355, 66%, 50%);
}


/* giving section */
.giving-section{
    text-align: center;
    margin: 80px 0;
}

/* .giving-section-title{
    display: flex;
    justify-content: center;
} */

.giving-section-title h1{
    color: hsl(0, 4%, 15%);
    font-size: 40px;
    width: 400px;
    margin: 0 auto;
}

.giving-cards-container{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 100px;
}

.giving-cards-container img{
    width: 130px;
}

.giving-card{
    text-align: center;
    width: 200px;
    margin-top: 50px;
}

.giving-card h3{
    color: hsl(0, 4%, 15%);
    font-size: 20px;
    font-weight: 600;
}

.giving-card p{
    color: hsla(0, 4%, 15%, 0.726);
    font-size: 15px;
    padding: 0 15px;
    margin-top: 10px;
}

