*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

i, button, li{
    cursor: pointer;
    outline: none;
    list-style-type: none;
    border: none;
}

body{
    width: 100%;
    max-width: 1300px;
    padding: 0 100px;
    margin: 0 auto;
    font-family: "Poppins", sans-serif;
    background-color: cornsilk;
}



/* header section */
.navbar{
    margin: 20px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo-container{
    display: flex;
    justify-content: center;
    align-items: center;
}

.logo-container img{
    width: 40px;
}
.logo-container h1{
    color: hsla(0, 4%, 15%, 0.904);
    font-size: 25px;
}

.nav-items{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 50px;
    color: hsla(0, 4%, 15%, 0.904);
    font-weight: 500;
}



/* banner part */
.banner-section{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 50px;
    margin-top: 50px;
}

.banner-section img{
    width: 500px;
}

.title-container{
    width: 550px;
}

.title-container h1{
    color: hsl(0, 4%, 15%);
    font-size: 50px;
    font-weight: 600;
}

.title-container p{
    color: hsla(0, 4%, 15%, 0.904);
    margin-top: 20px;
}

.title-container button{
    color: #fff;
    padding: 17px 33px;
    border-radius: 50px;
    background-color: hsl(355, 70%, 54%);
    font-size: 17px;
    font-weight: 500;
    transition: .3s;
    margin-top: 20px;
}

.title-container button:hover{
    background-color: hsl(355, 66%, 50%);
}



/* giving section */
.giving-section{
    text-align: center;
    margin: 100px 0;
}

/* .giving-section-title{
    display: flex;
    justify-content: center;
} */

.giving-section-title h1{
    color: hsl(0, 4%, 15%);
    font-size: 40px;
    width: 400px;
    margin: 0 auto;
}

.giving-cards-container{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 100px;
}

.giving-cards-container img{
    width: 130px;
}

.giving-card{
    text-align: center;
    width: 200px;
    margin-top: 50px;
}

.giving-card h3{
    color: hsl(0, 4%, 15%);
    font-size: 20px;
    font-weight: 600;
}

.giving-card p{
    color: hsla(0, 4%, 15%, 0.726);
    font-size: 15px;
    padding: 0 15px;
    margin-top: 10px;
}



/* celebrate section */
.celebrate-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 100px;
}

.celebrate-container img{
    width: 500px;
}

.celebrate-title-container{
    width: 500px;
}

.celebrate-title-container h1{
    color: hsl(0, 4%, 15%);
    font-size: 40px;
    font-weight: 600;
}

.celebrate-title-container p{
    color: hsla(0, 4%, 15%, 0.726);
    font-size: 15px;
    margin-top: 20px;
}

.celebrate-container button{
    color: #fff;
    padding: 17px 33px;
    border-radius: 50px;
    background-color: hsl(355, 70%, 54%);
    font-size: 17px;
    font-weight: 600;
    transition: .3s;
    margin-top: 20px;
}

.celebrate-container button:hover{
    background-color: hsl(355, 66%, 50%);
}



/* gift cards section */
.gifts-section{
    padding: 50px 0 100px 0;
}

.gifts-section h1{
    color: hsl(0, 4%, 15%);
    font-size: 40px;
    font-weight: 600;
    text-align: center;
    padding-bottom: 50px;
}
.gift-cards-container{
    display: grid;
    grid-template-columns: repeat(3, 200px);
    gap: 50px;
}

.gift-cards-wrapper{
    display: flex;
    justify-content: center;
}

.gift-card{
    position: relative;
    background-color: #fff;
    width: 200px;
    padding: 20px;
    box-shadow: 0 4px 16px hsla(357, 25%, 15%, 0.192);
    border-radius: 15px;
}

.gift-card i{
    color: hsl(355, 70%, 54%);
    position: absolute;
    left: 80%;
}

.gift-card-img{
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

.gift-card-img img{
    width: 120px;
    transition: .3s;
}

.gift-card-img img:hover{
    transform: translateY(-.25rem);
}

.gift-card h4{
     color: hsl(0, 4%, 15%);
     font-size: 19px;
     margin-top: 10px;
}

.gift-card p{
     color: hsla(0, 4%, 15%, 0.726);
    font-size: 15px;
    font-weight: 500;
}



/* gift cards section */
.new-gifts-section{
    padding: 0 0 100px 0;
}

.new-gifts-section h1{
    color: hsl(0, 4%, 15%);
    font-size: 40px;
    font-weight: 600;
    text-align: center;
    padding-bottom: 50px;
}

.new-gift-cards-container{
    display: flex;
    justify-content: center;
    gap: 50px;
}

.new-gift-card{
    position: relative;
    background-color: #fff;
    width: 250px;
    box-shadow: 0 4px 16px hsla(357, 25%, 15%, 0.192);
    border-radius: 15px;
    text-align: center;
}

.new-gift-card button{
    position: absolute;
    background-color: hsl(355, 70%, 54%);
    padding: 10px;
    bottom: 0;
    right: 0;
    border-radius: 10px 0 15px 0;
}

.new-gift-card i{
    color: #fff;
    font-size: 18px;
}

.new-gift-card-img{
    display: flex;
    justify-content: center;
    background-color: hsl(355, 70%, 54%);
    border-radius: 15px 15px 50% 50% ;
    padding: 20px 0;
}

.new-gift-card-img img{
    width: 150px;
    transition: .3s;
}

.new-gift-card-img img:hover{
    transform: translateY(-.25rem);
}

.new-gift-card h4{
     color: hsl(0, 4%, 15%);
     font-size: 20px;
     margin-top: 30px;
}

.new-gift-card p{
    color: hsla(0, 4%, 15%, 0.726);
    font-size: 16px;
    font-weight: 500;
    margin-bottom: 30px;
}



/* send wishes section */
.send-wishes-section{
    background-color: hsl(355, 70%, 54%);
    border-radius: 30px;
    margin: 50px 0;
}

.wishes-container{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 80px 0;
    gap: 50px;
}

.wishes-title-content{
    width: 300px;
}

.wishes-title-content h2{
    color: #fff;
    font-size: 40px;
    font-weight: 600;
}

.wishes-title-content input{
    width: 300px;
    padding: 20px;
    outline: none;
    border: none;
    border-radius: 50px;
    margin-top: 30px;
}

.wishes-title-content input::placeholder{
    font-weight: 500;
    font-size: 17px;
}

.wishes-title-content button{
    background-color: hsl(355, 4%, 15%);
    font-weight: 600;
    color: white;
    font-size: 17px;
    padding: 20px 50px;
    border-radius: 50px;
    margin-top: 20px;
}

.wishes-container img{
    width: 400px;
    transform: rotate(15deg);
}
